.potianalFriend{
    display: flex;
    border: 0.5mm solid grey;
    flex-wrap: wrap;
    align-items: stretch ;
    justify-content: center;
    width: 100%;
}
.partLine{
    border: 0.5mm solid grey;
    display: flex;
    justify-content: center;
    flex: 1;
}
.AddAFriend{
    display: flex;
    flex-direction: column;
}
.topInput{
    display: flex;
    flex-direction:row;
    padding: var(--gap-s);
    gap: var(--gap-s);
}
.addAFriendSearchBarBtns{
    display:  flex;
    gap: var(--gap-m);

}

.addAFriendContainer{
    align-self: center;
    padding: var(--gap-s);
}

.friendsGroupTableContainer{
    width: 30%;
    align-self: center;
}
.submitGroupFriends{
    align-self: center;
    padding: var(--gap-s);
}

.chosenFriends{
    display: flex;
    flex-direction: row;
    gap: var(--gap-s);
    border: 1px solid black;
    flex-wrap: wrap;
    
}

.chosenFriendsHeader{
    display: flex;
    font-weight: bold;
}