.img{ 
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.Post{
    border: 1px solid black;
    display: flex;
    padding: var(--gap-s);
    gap: var(--gap-s);
}

.tagDisplay{
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    flex-wrap: wrap;
}
.postText{
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.userTags{
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap-s);
}
.singleUserNameDisplay{
    display: flex;
    gap: var(--gap-s);
    padding: var(--gap-s);
    flex-wrap: wrap;
}
.singleTagDisplay{
    display: flex;
    gap: var(--gap-s);
    padding: var(--gap-s);
    flex-wrap: wrap;
}

.singlePostBtns{
    display: flex;
    border: 0.5px solid black;
}
.singlePostSubmit{
    align-self: center;
}
.singlePostTimePosted{
    display: flex;
    border: 0.5px solid black;   
    flex-direction: column;
}