.postWrapper{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    gap: var(--gap-s);
    padding: var(--gap-s);
    background-color: var(--background-purple);
    height: 80%;
    width: 100%;
    align-items: center;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
    padding: var(--gap-s);
    gap:  var(--gap-s);
    width: 100%;
}

.inputWithValidator{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.postHeading{
    align-items: center;
    background: var(--light-blue);
    width: 100%;
}

.post{
    height: 100%;
    width: 100%;
    display: flex;
}

.img{ 
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.imgInput{
    color: var(--background-white);
}
.imgDiv{
    padding: var(--gap-s);
}
.friendsTagged{
    background-color:var(--background-white) ;
}
.radioInput{
    width: 20px;
    height: 20px;
    align-self: center;
}
.friendsTagged{
    display: flex;
    gap: var(--gap-s);
}

.radioFriends{
    display: flex;
}

.randomLocation{
    background-color:var(--background-white) ;
    display: flex;
}