:root{
  --background-grey: #e6e6e6;
  --background-blue:#122FC3;
  --background-white: #ffffff;
  --background-purple: #292961;  

  --light-blue: #ade6e6;

  --main-font:  'Open Sans', sans-serif;
  --font-sizeSmall:15px ;
  --font-sizeMed:25px ;
  --font-sizeBig:45px ;

  --gap: 30px;
  --gap-m: 15px;
  --gap-s: 10px;

}